#transform{
    /*order: 8px solid black;
    width:auto;
    height:auto;
    box-sizing: content-box;*/
    position:relative;
    left: 20%;
}


#translate .div1{
    border:8px solid darkcyan;
    background-color: darkslateblue;
    width:200px;
    height: 200px;
    margin: 100px;
    position: relative;
    top: 10%;

    /*transform: translate(-100px,-20px);*/
    /*transform:translateX(100px);*/
    transform: translate(225px,180px );
    transition-property: background-color;
    transition-duration: 1000ms;
    transition-timing-function: ease-out;
    transition: background-color 1000ms ease-in, border-radius 1000ms ease-in, transform 1000ms ease-in;

}



#translate .div1:hover{
    background-color: lightcoral;
    border: 8px solid darkgreen;
    transform: translate(200px, 200px);
}
.div2{
    border:8px solid darkcyan;
    background-color: darkslateblue;
    width:200px;
    height: 200px;
    margin: 300px;
    
    
    transform: rotateZ(45deg);
    transition: background-color 1000ms ease-in, border-radius 1000ms ease-in, transform 1000ms ease-in;

}

.div2:hover{
    background-color: lightpink;
    border: 8px solid darkgreen;
    border-radius: 100%;
    transform: rotateZ(20deg);
}

.div3{
    border:8px solid darkcyan;
    background-color: darkslateblue;
    width:200px;
    height: 200px;
    margin-top: 0px;
    margin-bottom: 200px;
    position: relative;
    left: 20%;
    
   
    transform:skewY(30deg);
    transition: background-color 1000ms ease-in, border-radius 1000ms ease-in, transform 1000ms ease-out;
}

.div3:hover{
    background-color: lightgreen;
    border: 8px solid darkgreen;
    border-radius: 100%;
    transform: skewX(30deg);
   
}
.div4{
    border:8px solid darkcyan;
    background-color: darkslateblue;
    width:200px;
    height: 200px;
    margin: 100px;
    position: relative;
    left: 13%;
    transition: background-color 1000ms ease-in, border-radius 3000ms ease-in-out,transform 3000ms ease-in;
    /*animation: rotate_xy 3s ease-in;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: transform 1000ms ease-in;*/
    /*animation: rotate_x 2s ease-in 2, rotate_y 5s ease-in infinite;*/
}

.div4:hover{
    background-color: lightgreen;
    border: 8px solid darkgreen;
    border-radius: 100%;
    transform:scaleX(0.5);
}
/*@keyframes rotate_x{
    0%{
        transform: rotateX(0deg);
    }
    100%{
        transform: rotateX(360deg);
    }
}
@keyframes rotate_y{
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform:rotate(360deg)
    }
}*/

.div5{
    border:8px solid darkcyan;
    /*background-color: darkslateblue;*/
    width:200px;
    height: 200px;
    margin: 100px;
    animation: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: relative;
    left: 70%;
    
}
@keyframes color{
    0%{
        background-color: lightblue;
        transform: rotateZ(0deg);
    }
    
    100%{
        background-color: thistle;
        transform: rotateZ(360deg);
    }
    
}

.pentagon{
    
    position: relative;
    left: 30%;
}
svg{
    width:600px;
    height:300px;
    border:2px solid black;
    
}

polygon{
    stroke:teal; 
    stroke-width:2px;
    fill: aqua;
    animation: fill;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: transform 1000ms ease-in;
}
@keyframes fill{
    0%{
        fill: navy;
    }
    100%{
        fill: thistle;
    }
}

polygon:hover{
    transform: scale(0.2);
}

text{
    
    
    fill: aqua;
    font-size:50px;
    font-family:comic-sans; 
    animation: fillt;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    transition: transform 5000ms ease-in;
    animation-delay:3000ms ;
    /*animation-fill-mode: forwards;*/
}
text:hover{
    animation-play-state: paused;
}
@keyframes fillt{
    0%{
        fill: navy;
        transform: rotateY(0deg);
    }
    25%{
        fill: turquoise;
        transform: rotateX(360deg);
    }
    50%{
        fill: lightblue;
        transform: rotateY(180deg);

    }
    75%{
        fill: lightpink;
        transform: rotate(0deg);
    }
    100%{
        fill: plum;
        transform: rotate(360deg);
    }
}


