body{
    background-color: cornflowerblue;
    height: 100%;
    width: 100%;
    position: relative;
    
}
.body_container{
    background-color: azure;
    border: 2px solid black;
    height: 600px;
    width: 900px;
    /* position: absolute; */
    margin-left: auto;
    margin-right: auto;

}

.form_container{
    background-color: lavenderblush;
    border: 2px solid black;
    border-radius: 16px;
    margin-top: 8px;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right:auto ;
}
#diary{
    /* text-align:center; */
    margin-top: 40px;
    
     
}
.form_label{
    margin-left: 50px;
    text-align: left;
    margin-top: 8px;
}

.form_input{
    margin-top: 2px;
    margin-left: 50px;
}

.form_label, .form_input{
    /* margin-right: 80px; */
    border: 4px solid black;
    
}
.records_table{
    border: 2px solid black
}
.records_container{

    margin-left: 330px;
}